.handicrafts-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.handicrafts-pricing {
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.handicrafts-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.handicrafts-container1 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.handicrafts-text {
  font-size: 3rem;
  max-width: 450px;
}
.handicrafts-text01 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.handicrafts-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.handicrafts-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.handicrafts-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.handicrafts-button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.handicrafts-button1:hover {
  border-color: var(--dl-color-gray-black);
}
.handicrafts-image {
  width: 400px;
  object-fit: cover;
}
.handicrafts-hero1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.handicrafts-container2 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.handicrafts-text05 {
  font-size: 3rem;
  max-width: 450px;
}
.handicrafts-text06 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.handicrafts-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.handicrafts-button2 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.handicrafts-button2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.handicrafts-button3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.handicrafts-button3:hover {
  border-color: var(--dl-color-gray-black);
}
.handicrafts-image1 {
  width: 400px;
  object-fit: cover;
}
.handicrafts-hero2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.handicrafts-container3 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.handicrafts-text13 {
  font-size: 3rem;
  max-width: 450px;
}
.handicrafts-text14 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.handicrafts-btn-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.handicrafts-button4 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.handicrafts-button4:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.handicrafts-button5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.handicrafts-button5:hover {
  border-color: var(--dl-color-gray-black);
}
.handicrafts-image2 {
  width: 400px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .handicrafts-pricing {
    background-color: #D9D9D9;
  }
  .handicrafts-hero {
    background-color: var(--dl-color-gray-950);
  }
  .handicrafts-text {
    font-size: 3rem;
  }
  .handicrafts-image {
    width: 536px;
    height: 356px;
  }
  .handicrafts-hero1 {
    align-self: center;
  }
  .handicrafts-text05 {
    font-size: 3rem;
  }
  .handicrafts-image1 {
    width: 639px;
    height: 307px;
  }
  .handicrafts-hero2 {
    align-self: center;
  }
  .handicrafts-text13 {
    font-size: 3rem;
  }
  .handicrafts-image2 {
    width: 625px;
    height: 440px;
    margin-left: var(--dl-space-space-twounits);
  }
}
@media(max-width: 1200px) {
  .handicrafts-text05 {
    font-size: 3rem;
  }
}
@media(max-width: 991px) {
  .handicrafts-hero {
    flex-direction: column;
  }
  .handicrafts-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .handicrafts-text {
    text-align: center;
  }
  .handicrafts-text01 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .handicrafts-hero1 {
    width: 978px;
    flex-direction: column;
  }
  .handicrafts-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .handicrafts-text05 {
    font-size: 3rem;
    text-align: center;
  }
  .handicrafts-text06 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .handicrafts-image1 {
    width: 595px;
    height: 138px;
  }
  .handicrafts-hero2 {
    flex-direction: column;
  }
  .handicrafts-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .handicrafts-text13 {
    text-align: center;
  }
  .handicrafts-text14 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .handicrafts-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .handicrafts-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .handicrafts-image {
    width: 80%;
  }
  .handicrafts-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .handicrafts-text06 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .handicrafts-image1 {
    width: 80%;
  }
  .handicrafts-hero2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .handicrafts-text14 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .handicrafts-image2 {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .handicrafts-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .handicrafts-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .handicrafts-btn-group {
    flex-direction: column;
  }
  .handicrafts-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .handicrafts-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .handicrafts-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .handicrafts-btn-group1 {
    flex-direction: column;
  }
  .handicrafts-button3 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .handicrafts-hero2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .handicrafts-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .handicrafts-btn-group2 {
    flex-direction: column;
  }
  .handicrafts-button5 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
